<%= render 'users/user_nav' %>
<div class="container">
    <section id="profile-index">
        <div class="text-center">
            <h1 class="line-header">Your Profile</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <% @profiles.each do |p| %>
            <div class='category col-lg-4 col-md-4 col-sm-6 col-xs-6 card-mobile'>
                <div class='card'>
                    <%= image_tag(p.image.url(:large), class: 'img-fluid card-img-top') %>
                    <div class='card-body'>
                        <h4 class='card-title'><%= p.screen_name %></h4>
                        <h6 class="card-subtitle mb-2 text-left">
                            <span><%= p.occupation %></span>
                            <span>
                                <i class="fas fa-map-marker-alt"></i><%= p.suburb %>
                            </span>
                        </h6>
                        <p class='card-text'><%= p.description %></p>
                            <%= link_to 'Edit', edit_profile_path(p),class: 'btn btn-info' %>
                            <%= link_to 'Delete', profile_path(p), method: :delete,
                                                        data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </section>
</div>