<%= render 'users/user_nav' %>
  <div class="container">
    <section id="profile-index">
      <div class="text-center">
        <h1 class="line-header">Your Profile</h1>
      </div>
      <div class="row d-flex justify-content-center">
          <div class='category col-lg-4 col-md-4 col-sm-6 col-xs-6 card-mobile'>
            <div class='card'>
              <%= image_tag(@profile.image.url(:large), class: 'img-fluid card-img-top') %>
                <div class='card-body'>
                  <h4 class='card-title'>
                    <%= @profile.screen_name %>
                  </h4>
                  <h6 class="card-subtitle mb-2 text-left">
                    <span>
                      <%= @profile.occupation %>
                    </span>
                    <span>
                      <i class="fas fa-map-marker-alt"></i>
                      <%= @profile.suburb %>
                    </span>
                  </h6>
                  <p class='card-text'>
                    <%= @profile.description %>
                  </p>
                  <% if can? :manage, @profile  %>
                    <%= link_to 'Edit', edit_profile_path(@profile),class: 'btn btn-info' %>
                    <%= link_to 'Delete', profile_path(@profile), method: :delete,
                                                      data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
                  <% end %>
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>