<div class="container">
    <div class="col-md-12 col-lg-12">
    <%= form_for(@dog, html: { multipart: true, class: 'form-horizontal' }) do |p| %>
        <% if @dog.errors.any? %>
        <div class="bg-warning" id="error_explanation">
        <h6><%= pluralize(@dog.errors.count, "error") %> prohibited this dog profile from being saved:</h6>
            <ul>
            <% @dog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
            </ul>
        </div>
        <% end %>

        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
            <%= p.label :name, class: 'control-label' %>
            <%= p.text_field :name, class: 'form-control'%>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <%= p.label :image, class: 'control-label' %>
                <%= p.file_field :image %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <%= p.label :breed, class: 'control-label' %>
                    <%= p.text_area :breed, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <%= p.label :age, class: 'control-label' %>
                    <%= p.text_area :age, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
            <%= p.label :size_id, class: 'control-label dropdown-label'%>
            <%= p.collection_select :size_id, @size, :id, :name %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
            <%= p.label :description, class: 'control-label' %>
            <%= p.text_area :description, class: 'form-control'%>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
            <%= p.label :availability, class: 'control-label' %>
            <%= p.text_area :availability, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <%= p.label :suburb, class: 'control-label' %>
                    <%= p.text_area :suburb, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <%= p.label :postal_code, class: 'control-label' %>
                <%= p.text_area :postal_code, class: 'form-control'%>
            </div>
        </div>


        <%= p.submit class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>