%nav#user-nav.navbar.navbar-expand-lg.navbar-light.bg-faded
  %button.navbar-toggler{type:'button', 'data-toggle':'collapse', 'data-target':'#user-navbar','aria-controls':'navbarNav', 'aria-expanded':'false', 'aria-label':'Toggle navigation'}
    %span.navbar-toggler-icon
  #user-navbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to 'Dashboard', account_path, class:'nav-link'
      -# %li.nav-item= link_to 'Inbox', class:'nav-link'
      - if @user.profile
        %li.nav-item= link_to 'View your profile', profiles_path, class:'nav-link'
      - else
        %li.nav-item= link_to 'Create your profile', new_profile_path, class:'nav-link'
      %li.nav-item= link_to 'View your dogs', dogs_path, class:'nav-link'
      %li.nav-item= link_to 'Add your dog', new_dog_path, class:'nav-link'
      -# %li.nav-item= link_to 'Favourites', class:'nav-link'